main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrito__title {
    color: var(--ColorNaranja);
    margin-top: 20px;
    font-size: x-large;
}

.contenedor__carritos {
    display: flex;
    flex-direction: column;
    margin: 25px;
    flex-basis: auto;
}

.contenedor__carritos div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;
    border: 1px solid var(--ColorGris);
    border-radius: 8px;
    padding: 10px 20px;
    margin: 30px 0;
    margin: 10px;
}

.contenedor__carritos div:nth-child(1) {
    width: 85%;
}

.contenedor__carritos div:nth-child(2) {
    width: 85%;
}

.contenedor__carritos div:hover {
    box-shadow: 0px 0px 10px var(--ColorGris);
}

.contenedor__carritos div * {
    margin: 5px 0;
}

.contenedor__carritos div h1 {
    font-size: large;
    color: var(--ColorNaranja);
}

.listaCarritos label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.listaCarritos label span,
.listaCarritos label input,
.listaCarritos label button {
    margin-right: 10px;
}

.span__ID-carrito {
    font-weight: bold;
    margin-right: 15px;
}

.listaCarritos__input {
    height: 35px;
    padding: 0 5px;
    background-color: var(--ColorGris);
    color: var(--ColorObscuro);
    border-radius: 5px;
    border: 1px solid var(--ColorGris);
}

.btn-buscar__carritos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3rem;
    height: 2.3rem;
    font-size: large;
    border-radius: 50%;
    border: 1px solid var(--ColorGris);
    background-color: var(--ColorClaro);
}

.btn-buscar__carritos:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--ColorGris);
    color: var(--ColorNaranja);
}

.agregar-otro-carrito {
    background-color: var(--ColorClaro);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ColorNaranja);
}

.agregar-otro-carrito:hover {
    cursor: pointer;
}

.agregar-otro-carrito ion-icon {
    margin-right: 10px;
}

.carrito__detalles p strong {
    font-weight: bold;
}

.productos__contenedor__table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productos__carrito {
    width: 93%;
    max-width: 1077px;
    margin: 0 35px;
    font-size: 1rem;
    border: 1px solid var(--ColorGris);
    border-radius: 8px;
    padding: 10px 20px;
}
#flip-scroll .cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}
#flip-scroll * html .cf {
    zoom: 1;
}
#flip-scroll *:first-child + html .cf {
    zoom: 1;
}

#flip-scroll table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#flip-scroll th,
#flip-scroll td {
    margin: 0;
    vertical-align: top;
}
#flip-scroll th {
    text-align: left;
}

#flip-scroll table {
    display: block;
    position: relative;
    width: 100%;
}
#flip-scroll thead {
    display: block;
    float: left;
}
#flip-scroll tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
}
#flip-scroll thead tr {
    display: block;
}
#flip-scroll th {
    display: block;
    text-align: right;
}
#flip-scroll tbody tr {
    display: inline-block;
    vertical-align: top;
}
#flip-scroll td {
    display: block;
    min-height: 1.25em;
    text-align: left;
}

/* sort out borders */

#flip-scroll th {
    border-bottom: 0;
    border-left: 0;
}
#flip-scroll td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
#flip-scroll tbody tr {
    border-left: 1px solid #babcbf;
}
#flip-scroll th:last-child,
#flip-scroll td:last-child {
    border-bottom: 1px solid #babcbf;
}

.totalPrecio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: 1px solid var(--ColorGris);
}

.totalPrecio strong {
    font-weight: bold;
}

.btn__carrito__contenedor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.btn__carrito__contenedor button,
.btn__carrito__contenedor a {
    text-decoration: none;
    color: var(--ColorGrisObscuro);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    border: 1px solid var(--ColorGris);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 0;
}

.btn__carrito__contenedor button {
    background-color: var(--ColorNaranja);
    color: var(--ColorClaro);
}

.btn__carrito__contenedor button:hover,
.btn__carrito__contenedor a:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--ColorGris);
}

.btn__eliminar-producto__carrito {
    font-size: x-large;
    border-radius: 50%;
    border: none;
    background-color: var(--ColorClaro);
}

.btn__eliminar-producto__carrito:hover {
    color: var(--ColorNaranja);
    cursor: pointer;
}

@media (min-width: 600px) {
    .contenedor__carritos {
        flex-direction: row;
    }

    .contenedor__carritos div:nth-child(1) {
        width: 70%;
    }

    .contenedor__carritos div:nth-child(2) {
        width: 30%;
    }
}
