<!DOCTYPE html>
<html LANG="Spanish">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="DC.Language" scheme="RFC1766" content="Spanish">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 5 API Motores de plantillas</title>
    <link rel="icon" href="./assets/Logo.svg">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">

</head>

<body>

    <main>

        <article class="OFF-tarjetaComponent__post-product">
            <div class="tarjeta__info">
                <h1 class="tarjeta__title">
                    Agrega un nuevo producto
                </h1>

                <p class="tarjeta__text">
                    Aqui podras agregar un nuevo producto a la lista de productos ya existente.
                </p>

                <form class="tarjeta__form" action="/api/productos/" method="POST">
                    <label for="Nombre">
                        <input type="text" name="nombre" placeholder=" Nombre" required />
                    </label>

                    <label for="Precio">
                        <input type="number" name="precio" placeholder=" Precio" required />
                    </label>

                    <label for="URLimg">
                        <input type="text" name="thumbnail" placeholder=" URL de la imagen" required />
                    </label>
                    <button type="submit">Agregar</button>
                </form>

            </div>
        </article>

        </section>

    </main>

</body>

</html>