<h3 class='login-registrer__title'>
    Iniciar sesión
</h3>
<form class='login-registrer__form' action='/aplication'>
    <label for='email'>
        <span>Nombre</span>
        <input type='name' id='name' placeholder='Tu nombre' required />
    </label>
    <button id="btn" type='submit'>Ingresar</button>
</form>

<script>
    const inputForm = document.getElementById('name');
    const btnSubmit = document.getElementById('btn');

    btnSubmit.addEventListener('click', async (event)=>{
        const optionsPOST = {
        method: 'POST',
        body: JSON.stringify({username: inputForm.value}),
        headers: {
            'Content-Type': 'application/json',
        },
    };

    await fetch('/login', optionsPOST)
        .then((res) => res.json())
        .then((response) => console.log(response));
    })
</script>