<div class='tarjeta__info'>
    <h1 class='tarjeta__title'>
        Agrega un nuevo producto
    </h1>
    <p>
        Aquí puedes agregar productos a esta lista. Tenemos un plus 😎 ahora la lista se actualiza en tiempo real
    </p>

    <form id='form-productos' method='' method='get'>
        <label for='nombre'>
            <input type='text' id='input-nombre' name='nombre' placeholder='Nombre' required />
        </label>

        <label for='precio'>
            <input type='number' id='input-precio' name='precio' placeholder=' Precio' required />
        </label>

        <label for='thumbnail'>
            <input type='text' id='input-thumbnail' name='thumbnail' placeholder=' URL de la imagen' required />
        </label>
        <input class='enviarProductos' type='submit' name='enviar' value='Agregar' />
    </form>

    <div>
        <table id='resultados'></table>
    </div>

</div>

<div id='chat'>
    <h1>Centro de mensajes</h1>
    <form id='form-chat' action='' method='get'>
        <input type='email' id='input-email' name='correo' placeholder='Correo electronico' required />
        <input type='name' id='input-nombre' name='nombre' placeholder='Nombre' required />
        <input type='lastname' id='input-apellido' name='apellido' placeholder='Apellido' required />
        <input type='age' id='input-edad' name='edad' placeholder='Edad' required />
        <input id='input-alias' name='alias' placeholder='Alias' required />
        <input id='input-avatar' name='avatar' placeholder='Avatar' required />
        <ul id='chat__contenedor'></ul>
        <div class='chat__inferior'>
            <span id='estado-escritura'></span>
            <input type='text' id='input-mensaje' name='mensaje' placeholder='Tu mensaje ...' required />
            <input class='enviarMensajes' type='submit' id='btn__chat' name='enviar2' value='Enviar' />
        </div>
    </form>
</div>